body {
    color: yellow;
    background: green;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb (red, green,blue)
    padding: 20px;
    font-size: 32px;
    color: rgb (red,green,blue);
}
<div class>
section {
     background: rgb(rgb(26, 255, 0);
     padding-botom: 88px;
     padding-top: 88px; 
     display: flex;
     justify-content: center; 
}

div{
     margin

}